body {
    background-color: darkorange;
    color: black;
    margin: 20;
   
}

section {
    display: flex;
    flex-direction: row;
     text-align: center;
}


div {
    text-align: center;
    color: white;
    
}

nav, article {
    width: 100%;
    padding: 15px;
}

header,footer {
    background-color: white;
    color: black;
    text-align: center;
}

nav {
    background-color: lightgray;
    flex: 7%
}

nav a {
    display: block;
    border: 2px solid black;
}


a:hover {
    background-color: white;
}

article {
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
}
